.corpo {
    background-color: rgb(167, 167, 167);
    margin: 0;
    padding: 0;
    min-width: 0;
}
.btn {
    display: block;
    font-size: 1.875em;
    font-weight: bold;
    margin: 20px 6%;
}
.topo {
    display: flex;
    justify-content: space-between;
}
main {
    min-height: 65dvh;
    padding: 0px;
    margin: 0px;
}
.flex {
	display: flex;
    transition: 0.4s;
	align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    height: 0px;
}
.flex nav {
    padding-right: 10px;
}
header ul {
    margin: 0;
}
header ul li {
	display: block;
	margin: 25px 14px;
    text-align: end;
}
header ul li a {
    border-bottom: solid rgb(124, 124, 124) 1px;
    width: 100%;
    padding: 10px 5px 10px 15px;
}
#l1 {
    margin: 12px 14px 25px 14px;
}
footer {
    display: flex;
    flex-wrap: wrap;
}