main {
    display: flex;
    justify-content: center;
}
.principal {
    text-align: center;
    margin: 30px 0px;
}
.titulo {
    margin: 0px;
}
h1 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.titulo p {
    margin: 0;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9375rem;
}
.conteudo {
    margin: 10px 0px;
}
.conteudo div {
    display: block;
    justify-content: center;
    margin: 4px 0px;
}
.conteudo fieldset {
    padding: 10px 20px;
    margin: 0;
    background-color: rgba(0, 200, 0, 0.25);
    border-color: lightgreen;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.conteudo fieldset label {
    color: black;
    font-weight: bold;
    font-size: 1rem;
}
.conteudo fieldset input {
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 260px;
    padding: 4px 8px;
    margin-top: 4px;
    margin-bottom: 6px;
    border-radius: 5px;
    border-width: 1px;
}
.conteudo fieldset textarea {
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 260px;
    padding: 6px 8px;
    margin-top: 4px;
    border-radius: 5px;
    border-width: 1px;
}
.conteudo fieldset button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    padding: 3px 16px;
}